@media screen and (max-width: 450px){
    @font-face {
        font-family: Gilroy;
        src: url(Fonts/Gilroy-ExtraBold.otf);
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Gilroy;
    }
    
    html, body{
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }
    
    #main{
        height: 100%;
        width: 100%;
    }
    
    #nav{
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px 10px;
        gap: 8px;
        z-index: 20;
    }
    
    #nav h3{
        background-color: black;
        color: white;
        padding: 5px 10px;
        font-size: 10px;
        border-radius: 50px;
    }
    
    #wp:hover{
        background-color: #25D366;
        font-size: 22px;
    }
    
    #wrk a{
        text-decoration: none;
        color: white;
    }
    
    #wp a{
        text-decoration: none;
        color: white;
    }
    
    #wrk:hover{
        background-color: rgb(234, 69, 9);
        font-size: 22px;
    }
    
    #intro{
        height: 25%;
        width: 100vh;
        padding-top: 60px;
        padding-left: 10px;
        padding-right: 30px;
    }
    
    #intro h1{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 2px;
    }
    
    #place{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    #place h3,#place h4{
        font-size: 12px;
        margin-left: 5px;
        margin-right: 10px;
    }
    
    #place h3{
        color: rgb(80, 76, 76);
    }
    
    #hero-img{
        width: 100%;
        height: 40%;
        margin-top: 40px;
        background-image: url(Img/Landing.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #hero-img {
        width: 100%;
        transition: transform 0.8s ease;
    }    
    
    #hero-img:hover  {
        transform: scale(1.2);
    }
    
    #about{
        height: 45%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 60px;
    }
    
    #about h2{
        width: 80%;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 1px;
        margin-left: 10px;
        margin: 20px 0;
    }
    
    #about-part2{
        width: 85%;
        height: 70%;
       border : none;
        padding: 30px 10px;
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
    }
    
    #about-part2 h3{
        font-size: 25px;
    }
    
    #icons i{
        font-size: 10px;
        background-color: black;
        color: white;
        border-radius: 50px;
        padding: 7px;
        margin-right: 10px;
    }
    
    
    #icons i:hover{
        font-size: 12px;
        background-color: rgb(235, 80, 13);
        color: rgb(240, 202, 8);
        border-radius: 50px;
        padding: 7px;
        margin-right: 10px;
        transform: scale(1.2);
    }
    
    #whyUs {
        position: relative; 
        margin-top: 150px;
        margin-bottom: 200px !important;
    }
    
    
    #whyUs h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        font-weight: 500;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        letter-spacing: 10px;
    }
    
    .pic{
        height: 300px;
        width: 190px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    }
    
    
    
    #img4{
        transform: translate(-50%,-50%) rotate(7deg);
    }
    
    #img3{
        transform: translate(-50%,-50%) rotate(14deg);
    }
    
    #img2{
        transform: translate(-50%,-50%) rotate(21deg);
    }
    
    #img1{
        transform: translate(-50%,-50%) rotate(28deg);
    }
    
    #img0{
        transform: translate(-50%,-50%) rotate(35deg);
    }
    
    #btm-left{
        position: absolute;
        /* right:90%; */
        left: 6%;
        bottom:-120%;
        font-size: 15px;
    }
    
    #work{
        height: 70%;
        width: 100%;
        /* border-top: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
    }
    
    #work1{
        width: 60%;
        height: 10%;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        /* border-right: 2px solid black; */
        padding-right: 10px;
        padding-top: 20px;
        font-size: 15px;
    }
    
    #work1 i{
        font-size: 15px;
    }
    
    #work2{
        width: 80%;
        height: 80%;
        padding: 10px 5px;
    }
    
    .work2-part{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
        gap: 20px;
    }
    
    .work2-part:nth-child(1){
        border-bottom: 2px solid black;
    }
    
    .work2-part .elem{
        width: 50%;
        height: 100%;
        padding: 10px;
    }
    
    .work2-part .elem:nth-child(1){
        border-right: 2px solid black
        ;
    }
    
    .elem h4{
        font-size: 20px;
    }
    
    .elem p{
        color: rgb(60, 58, 58);
        font-size: 10px;
    }
    
    .lol{
        width: 50%;
        height: 100%;
        padding: 10px;
    }
    
    .work2-part .lol:nth-child(1){
        border-right: 2px solid black
        ;
    }
    
    .lol h4{
        font-size: 15px;
    }
    
    .lol p{
        color: rgb(60, 58, 58);
        font-size: 10px;
    }
    
    /* .portfolio {
        background-color: rgb(228, 239, 243);
    } */
    
    @keyframes sld{
        fromt{
            transform: translate(0);
        }
        to{
            transform: translate(-100%);
        }
    }
    
    .picture {
        overflow: hidden;
        /* background-color: rgb(191, 210, 216); */
        white-space: nowrap;
        position: relative ;
    }
    
    .picture:before,
    .picture:after{
        position: absolute;
        top: 0;
        width: 50px;
        height: 100%;
        /* background: linear-gradient(to left, rgba(255,255,255,0), white); */
        content: "";
        z-index: 10;
    }
    
    .picture:before{
        left: 0;
        background: linear-gradient(to left, rgba(255,255,255,0), white);
    }
    
    .picture:after{
        right: 0;
        background: linear-gradient(to right, rgba(255,255,255,0), white);
    }
    
    .picture:hover .pic-slide{
        animation: 50s sld infinite linear;
    }
    
    .pic-slide {
        display: inline-block;
        padding-top: 30px;
        padding-bottom: 30px;
        animation: 30s sld infinite linear;
    }
    
    .pic-slide img{
        height: 200px;
        margin: 10px;
    }
    /* ---------------------------------------------- */
    .pikture {
        overflow: hidden;
        /* background-color: rgb(191, 210, 216); */
        white-space: nowrap;
        position: relative ;
    }
    
    .pikture:before,
    .pikture:after{
        position: absolute;
        top: 0;
        width: 50px;
        height: 100%;
        /* background: linear-gradient(to left, rgba(255,255,255,0), white); */
        content: "";
        z-index: 10;
    }
    
    .pikture:before{
        left: 0;
        background: linear-gradient(to left, rgba(255,255,255,0), white);
    }
    
    .pikture:after{
        right: 0;
        background: linear-gradient(to right, rgba(255,255,255,0), white);
    }
    
    .pikture:hover .pik-slide{
        animation: 50s sld infinite reverse;
    }
    
    .pik-slide {
        display: inline-block;
        padding-top: 30px;
        padding-bottom: 30px;
        animation: 30s sld infinite reverse;
    }
    
    .pik-slide img{
        height: 200px;
        margin: 10px;
    }
    
    #content{
        padding: 20px 20px;
        margin-top: 30px;
    }
    
    #content h3{
        font-size: 15px;
    }
    
    #content h1{
        font-size: 50px;
        letter-spacing: -1px;
        line-height: 50px;
        margin-top: 40px;
        font-weight: 500;
    }
    
    footer{
        bottom: 0% !important;
        position: absolute !important;
        margin-top: 40px;
        background-color: black;
        height: 30px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: end;
        color: white;
    }
    
    /* -------------------------------------------------------------------------------------------------------------------------------- */
    
    
}
