@font-face {
    font-family: Gilroy;
    src: url(Fonts/Gilroy-ExtraBold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
    gap: 8px;
}

#nav h3{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
}

#wp:hover{
    background-color: #25D366;
    font-size: 22px;
}

#work:hover{
    background-color: rgb(234, 69, 9);
    font-size: 22px;
}

#intro{
    height: 45%;
    width: 100%;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

#intro h1{
    font-size: 110px;
    line-height: 100px;
    letter-spacing: 2px;
}

#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#place h3,#place h4{
    font-size: 20px;
    margin-left: 5px;
    margin-right: 10px;
}

#place h3{
    color: rgb(80, 76, 76);
}

#hero-img{
    width: 100%;
    height: 120%;
    background-image: url(Img/Landing.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#hero-img {
    width: 100%;
    transition: transform 0.8s ease; /* Add transition for smooth zoom effect */
}

#hero-img:hover  {
    transform: scale(1.2); /* Increase the scale on hover */
}

