@font-face {
    font-family: Gilroy;
    src: url(Fonts/Gilroy-ExtraBold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
    gap: 8px;
}

#nav h3{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
}

#wp:hover{
    background-color: #25D366;
    font-size: 22px;
}

#work:hover{
    background-color: rgb(234, 69, 9);
    font-size: 22px;
}

#intro{
    height: 45%;
    width: 100%;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

#intro h1{
    font-size: 110px;
    line-height: 100px;
    letter-spacing: 2px;
}

#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#place h3,#place h4{
    font-size: 20px;
    margin-left: 5px;
    margin-right: 10px;
}

#place h3{
    color: rgb(80, 76, 76);
}

#hero-img{
    width: 100%;
    height: 120%;
    background-image: url(Img/Landing.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#hero-img {
    width: 100%;
    transition: transform 0.8s ease;
}    

#hero-img:hover  {
    transform: scale(1.2);
}

#about{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about h2{
    width: 60%;
    font-size: 60px;
    line-height: 70px;letter-spacing: -2px;
    margin-left: 40px;
}

#about-part2{
    width: 36%;
    height: 70%;
    border-left: 2px solid black;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-part2 h3{
    font-size: 25px;
}

#icons i{
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 7px;
    margin-right: 10px;
}


#icons i:hover{
    font-size: 18px;
    background-color: rgb(235, 80, 13);
    color: rgb(240, 202, 8);
    border-radius: 50px;
    padding: 7px;
    margin-right: 10px;
    transform: scale(1.2);
}

#whyUs {
    position: relative; 
    margin-top: 250px;
    margin-bottom: 250px !important;
}


#whyUs h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    letter-spacing: 10px;
}

.pic{
    height: 450px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}



#img4{
    transform: translate(-50%,-50%) rotate(7deg);
}

#img3{
    transform: translate(-50%,-50%) rotate(14deg);
}

#img2{
    transform: translate(-50%,-50%) rotate(21deg);
}

#img1{
    transform: translate(-50%,-50%) rotate(28deg);
}

#img0{
    transform: translate(-50%,-50%) rotate(35deg);
}

#btm-left{
    position: absolute;
    /* right:90%; */
    left: 6%;
    bottom:-110%;
    font-size: 20px;
}
