.shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .wrapper {
    display: inline-flex;
  }
  
  .wrapper .static-txt {
    font-size: 110px;
    color: black;
  }
  
  .wrapper .dynamic-txts {
    margin-left: 15px;
    margin-top: 0px;
    height: 130px;
    line-height: 130px;
    overflow: hidden;
  }
  
  .dynamic-txts li {
    font-size: 110px;
    list-style: none;
    color: #f31a1a;
    position: relative;
  
    top: 0;
    animation: slide 10s steps(2) infinite;
  }
  
  @keyframes slide {
    100% {
      top: -260px;
    }
  }
  
  .dynamic-txts li span {
    position: relative;
  }
  
  .dynamic-txts li span::after {
    background: white;
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid black;
    animation: typing 5s steps(11) infinite;
  }
  
  @keyframes typing {
    100% {
      left: 100%;
      margin: 0 -35px 0 53px;
    }
  }

  
  .line{
    height: 2px;
    width: 95%;
    background-color: black;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
  }

  .red{
    color: rgb(234, 69, 9);
  }
  
  .yellow{
    color: rgb(247, 210, 3);
  }